@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");

body {
  font-size: 62.5%;
  font-family: 'Lato', Arial, sans-serif;
  background: #233142; 
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.slide {
    position: relative;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 100vh;
    transition: all .5s;
}

.slide img {
/*      display: none;*/
    width: 100%;
    height: 100vh;
    transition: 0.1s; 
}
.pagination {
    position: absolute;
    left: 50%;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    transform: translateX(-50%);
    color: #FFF;
}
.timer {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.timer h4 {
    font-size: 1rem;
    padding: 15px 0;
}
.timer b {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 10px;
}
progress[value] {
/* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    
    width: 150px;
    height: 5px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #06e2a0;
}
progress[value]::-moz-progress-bar {
    background-color: #06e2a0;

}